{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "lodash",
    [
      "module-resolver", {
        "root": [
          "."
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": [
                "> 5%",
                "last 2 versions"
              ]
            },
            "useBuiltIns": true
          }
        ],
        [
          "babili", {
            "mangle": false
          }
        ]
      ]
    }
  }
}
